<app-bread-crumb [items]="[{text: 'Categories', link: '/categories'}, {text: pageTitle }]"></app-bread-crumb>


<app-page-header button-class="btn-light" button-link="/categories" button-text="Voltar" [page-title]="pageTitle">
</app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      About Category
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <div class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
            <div *ngIf="resourceForm.get('name').errors.required">Input required</div>
            <div *ngIf="resourceForm.get('name').errors.minlength">Min lenght is 2 characteres</div>
          </div>
        </div>

        <div class="form-group col-md-8">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>

      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-3" *ngIf="serverErrorMessages">
    <strong>Server Error</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
    class="btn btn-primary btn-lg float-right mt-3">Salvar</button>
</form>
